<head>
    <title>Home Wimbee</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
      function myfunction()
      {
        alert("Demande enregistrée");
      }
  
      function snfn()
      {
        if ($("#drop1").value == "Nouveau")
        {
          $("#champs1").prop(disabled, false);
        }
  
      }
    </script>
  </head>
  
  <body class="">
  <!-- BEGIN HEADER -->
  <div class="header navbar navbar-inverse ">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
      <div class="header-seperation">
        <ul class="nav pull-left notifcation-center visible-xs visible-sm">
          <li class="dropdown">
            <a href="#main-menu" data-webarch="toggle-left-side">
              <i class="material-icons">menu</i>
            </a>
          </li>
        </ul>
        <!-- BEGIN LOGO -->
        <a href="index.html">
         <img src="assets/img/logoo.png" class="logo" alt="" data-src="assets/img/logoo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21" />
        </a>
        <!-- END LOGO -->
      </div>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <div class="header-quick-nav">
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="pull-left">
          <ul class="nav quick-section">
            <li class="quicklinks">
              <a href="index.html" class="" id="layout-condensed-toggle">
                <i class="material-icons">menu</i>
              </a>
            </li>
          </ul>
          <ul class="nav quick-section">
            <li class="quicklinks  m-r-10">
              <a href="#" class="">
                <i class="material-icons">refresh</i>
              </a>
            </li>
            <li class="quicklinks">
              <a href="#" class="">
                <i class="material-icons">apps</i>
              </a>
            </li>
            <li class="quicklinks"> <span class="h-seperate"></span></li>
            <li class="quicklinks">
              <a href="#" class="" id="my-task-list" data-placement="bottom" data-content='' data-toggle="dropdown" data-original-title="Notifications">
                <i class="material-icons">notifications_none</i>
                <span class="badge badge-important bubble-only"></span>
              </a>
            </li>
            <li class="m-r-10 input-prepend inside search-form no-boarder">
              <span class="add-on"> <i class="material-icons">search</i></span>
              <input name="" type="text" class="no-boarder " placeholder="Search Dashboard" style="width:250px;">
            </li>
          </ul>
        </div>
        <div id="notification-list" style="display:none">
          <div style="width:300px">
            <div class="notification-messages info">
              <div class="user-profile">
                <img src="assets/img/profiles/d.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <!-- END TOP NAVIGATION MENU -->
        <!-- BEGIN CHAT TOGGLER -->
        <div class="pull-right">
          <div class="chat-toggler sm">
            <div class="profile-pic">
              <img src="assets/img/profiles/avatar.webp" alt="" data-src="assets/img/profiles/avatar.webp" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="35" height="35" />
              <div class="availability-bubble online"></div>
            </div>
          </div>
          <ul class="nav quick-section ">
            <li class="quicklinks">
              <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                <i class="material-icons">tune</i>
              </a>
              <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                <li>
                  <a href="/"> Mon compte</a>
                </li>
                <li>
                  <a href="/">Liste des demandes</a>
                </li>
                <li>
                  <a href="/"> My Inbox&nbsp;&nbsp;
                    <span class="badge badge-important animated bounceIn">2</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a routerLink='/login' routerLinkActive="active"><i class="material-icons">power_settings_new</i>&nbsp;&nbsp;Se déconnecter</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- END CHAT TOGGLER -->
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
  <!-- END HEADER -->
  
  <!-- BEGIN CONTENT -->
  <div class="page-container row-fluid" style="margin-bottom: 0;">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar " id="main-menu" style="margin-top: 0px; margin-left: 0; margin-bottom: 0;">
      <!-- BEGIN MINI-PROFILE -->
      <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <div class="user-info-wrapper sm">
          <div class="profile-wrapper sm">
            <img src="assets/img/profiles/avatar.webp" alt="" data-src="assets/img/profiles/avatar.webp" data-src-retina="assets/img/profiles/avatar2x.jpg" width="69" height="69" />
            <div class="availability-bubble online"></div>
          </div>
          <div class="user-info sm">
            <div class="username" style="font-size: 15px !important;">Manel <span class="semi-bold">Jrad</span></div>
            <div class="status" style="font-size: 12px !important;">VP Exécutif Global Talent Manager</div>
          </div>
        </div>
      <!-- END MINI-PROFILE -->
  
       <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title sm">M E N U <span class="pull-right"><a routerLink='/home'><i class="material-icons">refresh</i></a></span></p>
        <ul>
          <li > <a routerLink='/home' routerLinkActive="active"><i class="material-icons">home</i> <span class="title">Accueil</span> <span class="selected"></span> </a></li>
          <li > <a routerLink='/users' routerLinkActive="active"><i class="material-icons" style=" margin-right: 5px;">people</i> Les utilisateurs </a> </li>
          <li class="start active "><a routerLink='/newTicket' routerLinkActive="active"><i class="material-icons" style=" margin-right: 5px;">playlist_add</i> Nouvelle demande </a> </li>
          <li> <a routerLink='/listTicket' routerLinkActive="active"><i class="material-icons" style=" margin-right: 5px;">reorder</i> Les demandes</a> </li>
          <li> <a routerLink='/myTickets' routerLinkActive="active"><i class="material-icons" style=" margin-right: 5px;">library_books</i> Mes demandes</a> </li>
          <li> <a routerLink='/newCandidature' routerLinkActive="active"><i class="material-icons" style=" margin-right: 5px;">playlist_add</i> Nouvelle candidature</a> </li>
          <li> <a routerLink='/candidatures' routerLinkActive="active"><i class="material-icons" style=" margin-right: 5px;">reorder</i> Les candidatures</a> </li>
        </ul> 
        
        <!-- END SIDEBAR MENU -->
      </div>
    </div>
   
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
    <div class="content">
        <ul class="breadcrumb" >
          <li>
            <p>Vous êtes ici </p>
          </li>
          <li><span class="active">Nouvelle demande</span> </li>
        </ul>
        <br>
        <mat-horizontal-stepper>
          <mat-step label="Type">
          <div class="row" >
          <div class="col-md-12">
           <div class="form-group">
            <label class="form-label">Intitulé du besoin</label>
            <div class="controls">
              <input type="text" [(ngModel)]="nameTicket" style="width: 100%;"/>
            </div>
          </div>
          <br>
          <label class="form-label">Poste</label>
          <br> <!--(change)="onChange($event)"-->
          <div class="row form-row">
            <div class="col-md-6"> <!--(change)=selectPoste-->
              <select id="drop1" class="Poste" [(ngModel)]="poste"  name="liste1" style="width:100%">
                <option value="choix 1">Choix 1</option>
                <option value="Choix 2">Choix 2</option>
                <option value="Choix 3">Choix 3</option>
                <option value="Choix 4">Choix 4</option>
                <option >Nouveau</option>
            </select>
            </div>
            <div class="col-md-6">
              <input type="text" id="champs1" class="form-control" disabled="true">
            </div>
          </div>
          <br>
          <label class="form-label">Rattachement :</label>
          <br>
          <select id="source" name="liste1" style="width:48%" [(ngModel)]="departement">
            <option value="AK">Choix 1</option>
            <option value="HI">Choix 2</option>
            <option value="CA">Choix 3</option>
            <option value="NV">Choix 4</option>
            <option value="OR">Choix 5</option>
        </select>
        <br>
        <br>
        <div class="row form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Compétences techniques (les technologies, les produits..) :</label>
              <div class="row-fluid">
              <input class="span12 tagsinput" type="text" data-role="tagsinput" style="width: 100%;"/>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Compétences fonctionnelles(les métiers, les méthodologies..) :</label>
              <div class="row-fluid">
              <input class="span12 tagsinput" type="text" data-role="tagsinput" style="width: 100%;"/>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Soft Skills :</label>
              <div class="row-fluid">
              <input class="span12 tagsinput" type="text" data-role="tagsinput" style="width: 100%;"/>
            </div>
            </div>
          </div>
          <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Certifications requises :</label>
           <div class="row-fluid">
          <input class="span12 tagsinput" type="text" data-role="tagsinput" style="width: 100%;" />
        </div>
     </div> 
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Nombre d'année d'experience :</label>
          <div class="controls">
            <input type="text" class="form-control auto" data-v-max="9999" data-v-min="0">
          </div>
       </div>
        </div>
          </div>
          <div style="margin-left: 10cm; margin-top: 1cm;">
            <button mat-button matStepperPrevious style="background-color: #808080; color: white; margin-right: 1cm;">Back</button>
        <button mat-button matStepperNext style="background-color: #3f51b5; color: white;">Next</button>
      </div>
         </mat-step>
          <mat-step label="Motif">
            
            <div class="row">
              <div class="col-md-12">
                <div class="checkbox check-primary checkbox-circle">
                  <input id="idProject" type="checkbox" value="1" onclick="showHideRadio()">
                  <label for="idProject">Sur projet</label>
                </div>
                      <br>
                      <br>
                    <div class="form-group">
                  <span class="form-label">Nom projet :</span>
                  <div class="controls">
                    <input type="text" class="form-control">
                  </div>
                  </div>

                  <div class="form-group">
                  <span class="form-label">Nom client :</span>
                  <div class="controls">
                    <input type="text" class="form-control">
                  </div>
                  </div>

                  <div class="row">
              <div class="col-md-6">
                <br>
                <div class="form-group">
                  <span class="form-label">Durée de l'intervention :</span>
                  <div class="row-fluid">
                  <input type="text" class="form-control" />
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <br>
                <div class="form-group">
                  <span class="form-label">Charge de l'intervention :</span>
                   <div class="row-fluid">
                  <input type="text" class="form-control"/>
                </div>
                </div>
              </div>
            </div>

                <div class="form-group">
                  <span class="form-label">Lieu de l'intervention prévue :</span>
                  <div class="controls">
                    <input type="text" class="form-control">
                  </div>
               </div>

                  <div class="form-group">
                  <span class="form-label">Confirmation du besoin :</span>
                  <div class="controls">
                    <div class="radio radio-success">
                      <input id="ey" type="radio" name="Confirmation">
                      <label for="ey"> Confirmé</label>
                      <input id="le" type="radio" name="Confirmation">
                      <label for="le">Non confirmé</label>
                  </div>
                  </div> 
                  </div>
                    <!-- end sur projet-->
                    <br>
                    <br>
                    <hr>
                    <br> 
                    <br>
                      <!-- begin sur opportunité-->
                      <div class="checkbox check-primary checkbox-circle">
                        <input id="idOpportunity" type="checkbox" value="1" >
                        <label for="idOpportunity">Sur opportunité</label>
                      </div>
                    <br>
                    <br>
                      <br>
                    <div class="form-group">
                  <span class="form-label">Nom de l'opportunité :</span>
                  <div class="controls">
                    <input type="text" class="form-control">
                  </div>
                  </div>

                  <div class="form-group">
                  <span class="form-label">Nom prospect :</span>
                  <div class="controls">
                    <input type="text" class="form-control">
                  </div>
                  </div>

                  <div class="row">
              <div class="col-md-6">
                <br>
                <div class="form-group">
                  <span class="form-label">Durée de l'intervention pressentie :</span>
                  <div class="row-fluid">
                  <input type="text" class="form-control" />
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <br>
                <div class="form-group">
                  <span class="form-label">Charge de l'intervention pressentie :</span>
                   <div class="row-fluid">
                  <input type="text" class="form-control"/>
                </div>
                </div>
              </div>
            </div>

            <div class="form-group">
                  <span class="form-label">Lieu de l'intervention pressentie :</span>
                  <div class="controls">
                    <input type="text" class="form-control">
                  </div>
                  </div>

                  <div class="form-group">
                  <span class="form-label">Probabilité de transformation :</span>
                  <div class="controls">
                    <input type="text" class="form-control">
                  </div>
                  </div>
                  
                  <div class="checkbox check-primary checkbox-circle">
                    <input id="idStrategy" type="checkbox" value="1" >
                    <label for="idStrategy">Stratégique :</label>
                        <br> <br> 
                        
                          <div class="form-group">
                    <span class="form-label">Description :</span>
                    <div class="controls">
                       <textarea id="text-editor" placeholder="Description ..." class="form-control" rows="10"></textarea>
                    </div>
                    </div>
                      </div>
                  
                  </div>
                  </div>
                  <div style="margin-left: 10cm; margin-top: 1cm;">
                    <button mat-button matStepperPrevious style="background-color: #808080; color: white; margin-right: 1cm;">Back</button>
                <button mat-button matStepperNext style="background-color: #3f51b5; color: white;">Next</button>
              </div>
          </mat-step>
          <mat-step label="Date">
            
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Date de début souhaitée :</label>
                <div class="row-fluid">
                  <input [matDatepicker]="myDatepicker">
                  <mat-datepicker #myDatepicker></mat-datepicker>
                  </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
               <label class="form-label">Date de début au plutard :</label>
               <div class="row-fluid">
                <input [matDatepicker]="myDatepicker">
               <mat-datepicker #myDatepicker></mat-datepicker>  
               </div>
             </div>
          </div>
          <div class="row form-row">
            <div class="col-md-6">
              <br>
          <label class="form-label">Urgence :</label>
          <br>
              <select id="urgence" class="" name="urgnece1" style="width:80%">
                <option value="AK">Imminent</option>
                <option value="HI">Urgent</option>
                <option value="CA">Pas d'urgence</option>
            </select>
            </div>
            <div class="col-md-6">
              <br>
          <label class="form-label">Importance :</label>
          <br>
              <select id="importance" class="" name="importance1" style="width:80%">
                <option value="AK">Important</option>
                <option value="HI">Très important</option>
            </select>
            </div>
          </div>
          <div style="margin-left: 10cm; margin-top: 1cm;">
          <button mat-button matStepperPrevious style="background-color: #808080; color: white; margin-right: 1cm;">Back</button>
      <button mat-button matStepperNext style="background-color: #3f51b5; color: white;">Next</button>
    </div>
          </mat-step>
          <mat-step label="Budgétisation">
            
            <div class="row form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Salaire budgétisé :</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="date">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Package financier annuel alloué :</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="date">
                  </div>
                </div> 
             </div>
            </div>
            
            <br>
            <div class="form-group">
              <label class="form-label">Recrutement budgétisé :</label>
              <div class="radio radio-success">
                  <input id="bud-oui" type="radio" name="budget">
                  <label for="bud-oui">oui</label>
                  <input id="bud-non" type="radio" name="budget">
                  <label for="bud-non">Non</label>
              </div>
            </div>
            <br>
            <hr style="width: 100%; color: #ffffff !important;">
            <br>
            <div class="form-group">
              <label class="form-label">Autres points à rajouter :</label>
              <div class="controls">
                <textarea id="text-editor" placeholder="Ecrivez votre texte ici ..." class="form-control" rows="10"></textarea>
              </div>
            </div>
            <div style="margin-left: 10cm; margin-top: 1cm;">
              <button mat-button matStepperPrevious style="background-color: #808080; color: white; margin-right: 1cm;">Back</button>
          <button class="btn btn-success" (click)="submit()" style="background-color: #3f51b5; color: white;">Next</button>
        </div>
          </mat-step>
        </mat-horizontal-stepper>
        
    </div>
</div>